@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.666;
  background: #c0d2d4;
  color: #555;
}



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

/* Home Page Style */

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */ 





header {
  background-color: #141E61;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3); 
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}



.navbarItems {
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    margin-top: 20px ;
    width: 60%;
  
}

nav:hover{
  background-color: rgba(230,230,230,0.5)
}
nav { 
  
   
    color: #fff;    
    font-size: 20px;
    padding: 20px;
    margin-bottom: 10px;
  }




header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-size: 50px;
  font-weight: 700;
  text-align: left;
  cursor: pointer;
  margin-right: 200px;
  
}



.HomePage{
  background-image: url(./Images/abstract_geometric_banner_design_2507.jpg);
  background-size: cover;
  padding: 10%;
  overflow: hidden; 
  padding: 100px;
  width: 100%;   min-height:100vh;
}





.QuizContent{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  margin: 4rem auto;
  max-width: 100%;
  
}

.QuizContainer{
  text-align: center;
  color: #2ec2b0;
  width: 400px;
  height: 300px;
  margin-bottom: 2rem;
  margin-right: 4rem;
  padding: 2rem;
  background-color:rgb(240, 240, 240,0.9);
  border-radius: 50px 5px;
  margin-bottom: 20px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05), 0 5px 20px rgba(0, 0, 0, 0.1);
  transition: all 100ms ease-in-out;
}

.QuizTitle{
   margin-bottom: 10px;
}

.QuizDescription{
   color: #3fa5b0
}

@media(max-width:768px) {
  .QuizContainer{
    width: 400px
  }
  
}

button{
  font-size: 16px;
}

  
footer{
  background-color: black;
  text-align: center;
  position:fixed;
left:0;
bottom:0;
right:0;
  width: 100%;
  height: 2.5em;
} 

 footer p{
  color: white;
}







/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

/* Login Page Style */

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */ 


.loginContainer{
  background-color: rgba(147, 181, 198,0.4);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
  text-align: center;
  border-radius: 5%;
  margin: auto;
  width: 20em;
  padding: 10px;
    
    
}

.loginPage{
  background-image: url(./Images/abstract_geometric_banner_design_2507.jpg) ;
  background-size: cover;  
  overflow: hidden; 
  padding: 100px;
  width: 100%;   min-height:100vh;
 
}
.loginText{
  margin-top: 15px;
  font-size: 30px;
}

Input{
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
  width: 250px;
  margin: 15px auto;
  border: none;
  border-radius: 5px ;
}


button{
  width: 150px;
  height: 30px;
  margin: 30px auto;
}



/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

/* Registration Page Style */

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */ 




.signUpContainer{
  
  background-color: rgba(147, 181, 198,0.4);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
  text-align: center;
  border-radius: 5%;
  margin: auto;
  width: 20em;
  padding: 10px;
}

.SignUpPage {
  background-image: url(./Images/abstract_geometric_banner_design_2507.jpg) ;
  background-size: cover;  
  overflow: hidden; 
  padding: 100px;
  width: 100%;   min-height:100vh;
}




/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

/* Profile Page Style */

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */ 

.profilePage {
  background-image: url(./Images/5570863.jpg);
  background-size: cover;
  overflow: hidden; 
  padding: 100px;
  width: 100%;   min-height:100vh;

}

.ProfilenavbarItems{
  display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-evenly;
    margin: 10px 40px;
    width: 60%;
}

.IntroSection {
  margin: 20px 20px;
  display:flex;
  justify-content: center;
  width: 100%;
}

.UserImage{
  width: 150px; 
  height: 150px;
  margin: 20px 30px;
}

.Greetings{
  
  text-align:center;
  margin: 20px 0;
  
}

.NumOfQuizCreated{
  font-weight:bold;
  font-size:30px;
}

.NumOfQuizAttempted{
  font-weight:bold;
  font-size:30px;

}

.ResultsContainer{
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.HostResult{
  
  margin-right: 10%;
  background-color: rgba(240, 233, 210,0.5);
  border-radius: 5%;
  text-align: center;
  padding: 2%;
  height: 300px;
  width: 36%;
}

.HostResult h1{
  margin-bottom: 20px;
  
}

.QuizAttemptedResult{
  height: 300px;
  width: 35%;
  margin-right: 10%;
  background-color: rgba(240, 233, 210,0.5);
  border-radius: 5%;
  text-align: center;
  
  padding: 2%;
}

.QuizAttemptedResult h1{
  margin-bottom: 20px;
}




/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

/* CreateQuiz Page Style */

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */ 


.quizTitle{
  
  font-weight : bold;
  font-size :20px;
   
}

.quizTitleInput{
  height: 40px;  
}

.quizDescription{
  
  font-weight : bold;
  font-size :20px;
  
}

.quizDescriptionInput{
  height: 80px;
  margin-top: 20px;
}

textarea{
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
  border: none;
  border-radius: 5px 20px;
}

.CreateQuizPage{
  background-image: url(./Images/abstract_geometric_banner_design_2507.jpg);
  background-size: cover;
  padding: 100px;
}


.QuizInfoContainer{
  background-color:rgb(240, 240, 240,0.7);
  padding: 50px;
  border-radius: 50px 5px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);;
}

.RadioInput{
  box-shadow: none;
  margin: 20px;
  width: 20px;
}


.QuizType{
  display: flex;
  flex-direction: column;
}

.QuestionCard{
  background-color:rgb(240, 240, 240,0.7);
  padding: 50px;
  border-radius: 50px 5px;
  margin: 50px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);;
}

.Option {
  margin-right: 20px;
}

.Answer{
  margin-right: 26px;
}








.AttemptPage{
  background-image: url(./Images/abstract_geometric_banner_design_2507.jpg) ;
  background-size: cover;  
  overflow: hidden; 
  padding: 20px;
  width: 100%;   min-height:100vh;

}

.QuestionContainer{
  background-color:rgb(240, 240, 240,0.7);
  padding: 50px;
  border-radius: 5px 20px;
  margin: 50px auto;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);;
}

.Options{
  display: block;
  margin: 20px 0;
  border-radius: 5px;
  border: 0.5px solid rgba(0, 0, 0, 0.4);
  height: 100%;
  width:40%;
  padding: 10px;
  text-align: left;
  cursor: pointer;
  background-color: rgba(194, 255, 249,0.5);
}


.AttemptQuizTitle{
  text-align: center;
  margin: 50px auto;
  width: 80%;
  color: #fff;
  
}

.AttemptSubmit{
  margin: 50px auto;
  width: 80%;
}


.SubmitButton{
  width: 250px;
  height: 60px;
  margin-top:0;
}


.AttemptFooter{
  background-color: black;
  text-align: center;
  padding-top: 10px;
  width: 100%;
  height: 2.5em;
}

.AttemptFooter p{
  color: white;
}














