@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");





* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

/* Home Page Style */

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */ 





header {
  background-color: #141E61;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3); 
  width: 100%;
  height: 100%;
  display: flex;
  justify-content:space-between;
 
}



.navbarItems {
    display: flex;
    align-items:center; 
    justify-content: center;
    width: 50%;
    
}
li {
    
     
    list-style-type: none;
    display: inline-block;
    color: #fff;
    margin: 20px auto;
    font-size: 20px;
  }




header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-size: 50px;
  font-weight: 700;
  text-align: left;
  
}


.HomeBody{
  background-image: url(./Images/abstract_geometric_banner_design_2507.jpg);
    
  background-size: cover;
  padding: 10%;
}



button{
  font-size: 20px;
}

.LoginButtonContainer{
  width:30%;
  height : 300px;
  background-color: rgba(130, 241, 198,.6);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
}

  
footer{
  background-color: black;
  text-align: center;
  
  width: 100%;
  height: 2.5em;
}

footer p{
  color: white;
}







/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

/* Login Page Style */

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */ 


.loginContainer{
    height: 20em;
    background-color: rgba(147, 181, 198,0.4);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
    text-align: center;
    border-radius: 5%;
    margin: 100px auto;
    width: 20em;
    padding: 10px;
    
    
}

.loginPage{
  background-image: url(./Images/abstract_geometric_banner_design_2507.jpg);
  background-size: cover;
  position: fixed;   
  min-width: 100%;   min-height: 100%;
  
 
}
.loginText{
  margin-top: 15px;
  font-size: 30px;
}

Input{
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
  width: 250px;
  margin: 15px auto;
  border: none;
  border-radius: 5px ;
}


button{
  width: 150px;
  height: 30px;
  margin: 30px auto;
}



/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

/* Registration Page Style */

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */ 




.signUpContainer{
  height: 20em;
  background-color:#B2F9FC;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
  text-align: center;
  border-radius: 5%;
  margin: 100px auto;
  width: 20em;
  padding: 10px;
}




/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

/* Profile Page Style */

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */ 

.profilePage {
  background-image: url(./Images/5570863.jpg);
  background-size: cover;
  

}

.IntroSection {
  margin: 20px 20px;
  display:flex;
  justify-content: center;
  width: 100%;
}

.UserImage{
  width: 150px; 
  height: 150px;
  margin: 20px 30px;
}

.Greetings{
  
  text-align:center;
  margin: 20px 0;
  
}

.NumOfQuizCreated{
  font-weight:bold;
  font-size:30px;
}

.NumOfQuizAttempted{
  font-weight:bold;
  font-size:30px;

}

.ResultsContainer{
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.HostResult{
  width: 35%;
  margin-right: 10%;
  background-color: rgba(240, 233, 210,0.5);
  border-radius: 5%;
  text-align: center;
  padding: 2%;
}

.HostResult h1{
  margin-bottom: 20px;
}

.QuizAttemptedResult{
  width: 35%;
  margin-right: 10%;
  background-color: rgba(240, 233, 210,0.5);
  border-radius: 5%;
  text-align: center;
  
  padding: 2%;
}

.QuizAttemptedResult h1{
  margin-bottom: 20px;
}















